.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    width: 2.5rem;
    margin-top: 5px;
    &:last-child {
      margin-left: 1rem;
      display: none;
    }
    margin-left: 0.5rem;
  }
  ion-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
